@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: #672a5f;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background-color: black;
  font-family: Modern Era, sans-serif;

  @media (min-width: 768px) {
    background-color: #672a5f;
    background: linear-gradient(
      180deg,
      rgba(103, 42, 95, 0.6) 0%,
      rgba(103, 42, 95, 0.8) 75%,
      rgba(103, 42, 95, 1) 100%
    );
  }
}

.login-container::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background: #000;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.75));
}

strong {
  text-decoration-line: underline;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  text-decoration-line: none;
  height: 46px;
  border-radius: 9999px;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: rgb(103 41 95 / var(--tw-bg-opacity));
  color: rgb(255 254 253 / var(--tw-text-opacity));
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 1;
}

.btn:hover {
  cursor: pointer;
  background-color: rgb(103 41 95 / var(--tw-bg-opacity));
  color: rgb(255 254 253 / var(--tw-text-opacity));
  background-color: rgb(26 26 26 / var(--tw-bg-opacity));
  color: rgb(255 254 253 / var(--tw-text-opacity));
}

.carousel {
  display: inline-flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.carousel-vertical {
  flex-direction: column;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.carousel-item {
  box-sizing: content-box;
  display: flex;
  flex: none;
  scroll-snap-align: start;
}

.carousel-center .carousel-item {
  scroll-snap-align: center;
}

.carousel-end .carousel-item {
  scroll-snap-align: end;
}

@layer utilities {
  .fill-pastel-pink {
    fill: #ffc0cb;
  }
  .fill-pastel-blue {
    fill: #aec6cf;
  }
  .fill-pastel-green {
    fill: #b0e57c;
  }
  .fill-pastel-yellow {
    fill: #ffff99;
  }
  .fill-pastel-orange {
    fill: #ffd700;
  }
  .fill-pastel-purple {
    fill: #b19cd9;
  }
  .fill-pastel-brown {
    fill: #987654;
  }
}
